<div id="{{ html_id }}" class="ah-toast" {% if delay %} data-delay={{ delay }}{% endif %}{% if not auto_hide %} data-autohide="false"{% endif %}>
    {% if header or header_small %}
        <div class="ah-toast-header{% if header_classes %} {{ header_classes }}{% endif %}">
            {% if header %}
                <strong class="ah-toast-title">{{ header|safe }}</strong>
            {% endif %}
            {%  if header_small %}
                <small class="ah-toast-small">{{ header_small|safe }}</small>
            {% endif %}
            <button type="button" class="ah-close" data-dismiss="toast" aria-label="Close">&times;</button>
        </div>
    {% endif %}
    <div class="ah-toast-body{% if body_classes %} {{ body_classes }}{% endif %}">
        <div class="ah-toast-flex">
            {% if font_awesome %}
                <div class="ah-toast-icon">
                    <i class="{{ font_awesome }}"></i>
                </div>
            {% endif %}
            <div class="ah-toast-content">
                {{ text|safe }}
            </div>
            {% if not header and not header_small %}
                <button type="button" class="ah-close ah-close-sm" data-dismiss="toast" aria-label="Close">&times;</button>
            {% endif %}
        </div>
    </div>
</div>
<script>
    ajax_helpers.show_toast('{{ html_id }}');
</script>
