{% spaceless %}
<script>
function connect_{{ channel_name }}() {
    var helperSocket = new WebSocket("ws://" + window.location.host + "{{ ws_url }}");

    helperSocket.onopen = function (e) {
        console.log("Successfully connected to the WebSocket.");
    }

    helperSocket.onclose = function (e) {
        console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
        setTimeout(function () {
            console.log("Reconnecting...");
            connect_{{ channel_name }}();
        }, 2000);
    };

    helperSocket.onmessage = function (e) {
        const commands = JSON.parse(e.data)
        ajax_helpers.process_commands(commands.commands);
    }

    helperSocket.onerror = function (err) {
        console.log("WebSocket encountered an error: " + err.message);
        console.log("Closing the socket.");
        helperSocket.close();
    }
}

connect_{{ channel_name }}();
</script>
{% endspaceless %}