{% extends 'ajax_examples/base.html' %}
{% load ajax_helpers%}



{% load static ajax_helpers %}
{% block contents %}

    <div class="p-4">
        {% block extra-title %}
        {% endblock %}

        <h4 id="dragdrop">Ajax Helpers Toast Demo Page</h4>
        {{ description|safe }}

        <br>
        <hr>
        <p>Simple toast message</p>
        {% ajax_button 'Toast Message' 'toast_simple' %}
        <hr>
        <p>Toast message with heading and icon</p>
        {% ajax_button 'Toast Message' 'toast_with_heading' %}

        <hr>
        <p>Toast message sticky</p>
        {% ajax_button 'Toast Message' 'toast_sticky' %}
        <hr>

        <p>Toast message stacked</p>
        {% ajax_button 'Toast Message' 'toast_stacked' %}
        <hr>
        <p>Only one of the same Toast message</p>
        {% ajax_button 'Toast Message' 'toast_sticky_only_one' %}
        <hr>

        <p>Only one of the same Toast message but show if already hidden</p>
        {% ajax_button 'Toast Message' 'toast_sticky_only_one_reshow' %}
        <hr>

    </div>
{% endblock %}